//Används för knappen vi vill ska stå ut.
.prominentButton {
   -fx-background-color: #2E75B6;
   -fx-border-color: #CCCCCC;
   -fx-border-width: 0;
   -fx-font-family: "Segoe UI Light";
   -fx-font-size: 20;
   -fx-padding: 5 22 5 22;
   -fx-text-fill: #FFFFFF;
   -fx-border-radius: 10 10 10 10;
   -fx-background-radius: 10 10 10 10;
}

.prominentButton:hover {
   -fx-background-color: #1E90FF;
}


//Används för header
.label-header {
   -fx-text-fill: #444444;
   -fx-font-size: 25;
   -fx-font-family: "Segoe UI Semibold";
   -fx-opacity: 0.9;
}

//Används för vanlig text
.label {
   -fx-text-fill: #444444;
   -fx-font-size: 20;
   -fx-font-family: "Segoe UI Light";
   -fx-opacity: 0.9;
}

//Används för vanliga kanppar
.abutton {
   -fx-padding: 5 22 5 22;
   -fx-border-color: #444444;
   -fx-border-width: 1;
   -fx-border-radius: 10 10 10 10;
   -fx-background-radius: 10 10 10 10;
   -fx-background-color: #FFFFFF;
   -fx-font-family: "Segoe UI Light";
   -fx-font-size: 20;
   -fx-text-fill: #444444;
}

.abutton:hover {
   -fx-background-color: #F5F5F5;
}

//Tooltips
.tooltip {
   -fx-font-family: "Segoe UI Light";
   -fx-font-size: 20;
   -fx-text-fill: #444444;
   -fx-background-color: FFFFFF;
   -fx-border-width: 1;
   -fx-border-color: #444444;
   -fx-border-radius: 10 10 10 10;
   -fx-background-radius: 10 10 10 10;
}


//Ta bort-knappen
.delete-button {
   -fx-border-color: #444444;
   -fx-border-width: 1;
   -fx-border-radius: 10 10 10 10;
   -fx-background-radius: 10 10 10 10;
   -fx-background-color: #E60000;
}
