.logoButton{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.menuItem:hover, .submenuItem:hover{
    -fx-background-color: #eeeeee;
    -fx-text-fill: #000000;
}

.currentButton:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: rgb(47,117,181);
}

.menuItem {
    -fx-text-fill: #444444;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #bbbbbb;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;
    -fx-padding: 2 15 0 15;
    -fx-effect: dropshadow(gaussian, #dddddd, 3, 0.3, 0, 0);
}
.currentButton {
    -fx-text-fill: rgb(47,117,181);
    -fx-border-width: 1 1 0 1;
    -fx-border-color:rgb(47,117,181);
    -fx-effect: dropshadow(gaussian, #dddddd, 5, 0.01, 0, -3);
    /*-fx-effect: dropshadow(gaussian, #cccccc, 7, 0.5, 0, 0);*/
}
#submenu {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: rgba(47,117,181,0.5);
    -fx-effect: dropshadow(gaussian, #cccccc, 7, 0.3, 0, 0);
}

.submenuItem {
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 20;
    -fx-border-width: 1;
    -fx-text-fill: #444444;
    -fx-border-color: #cccccc;
    -fx-padding: 2 7 2 7;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.selectedSubmenuItem {
    -fx-text-fill: rgb(47,117,181);
    -fx-border-color: rgb(47,117,181);
}

.selectedSubmenuItem:hover{
    -fx-text-fill: rgb(47,117,181);
    -fx-background-color: rgb(250,250,250);
    -fx-border-color: rgb(47,117,181);
}

.text-field{
    -fx-padding: 5 5 5 7;
}